{% extends "classifier/master_template.html" %}

{% block content %}

<div>

<h1>Submission</h1>

<h4>Please submit a sentence and label it with a class</h4>

</div>

<div> 
 
  <form action="" method='POST'>
  {% csrf_token %}
    <label for="fname">Your sentence</label>
    <input type="text" id="fname" name="sentence" placeholder="Your sentence..">


    <label for="class">Class</label>
    <select id="class" name="class">
	  <option value="chooseclass">Choose class</option>
	  <option value="Homophobia">Homophobia</option>
      <option value="Misogyny">Misogyny</option>
      <option value="Islamaphobia">Islamaphobia</option>
	  <option value="Racism">Racism</option>
	  <option value="Transphobia">Transphobia</option>
	  <option value="Defamation">Defamation</option>
    </select>
	
<h5>Your submission will be saved and used to train our machine learning classifier</h5>
	
	<input type="submit" value="Submit">
  </form>
</div>

{% endblock %}

